@import "partials/variables";

body{
	// font-family: $font-family-body;
}

header{
	background:$main-green;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}



#sect-skills{
	background:$light-gray;
}

.card-content{
	.title{
		color: $main-blue;
	}
}